metadata_schema/ard_metadata_v1_0.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://ard.cr.usgs.gov/v1"
xmlns="http://ard.cr.usgs.gov/v1"
elementFormDefault="qualified">

<!-- definition of simple types -->
<xs:simpleType name="angleType">
  <xs:restriction base="xs:float">
    <xs:minInclusive value="-360.0"/>
    <xs:maxInclusive value="360.0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="latAngleType">
  <xs:restriction base="xs:float">
    <xs:minInclusive value="-90.0"/>
    <xs:maxInclusive value="90.0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="longAngleType">
  <xs:restriction base="xs:float">
    <xs:minInclusive value="-180.0"/>
    <xs:maxInclusive value="180.0"/>
  </xs:restriction>
</xs:simpleType>

<!-- support both WRS 1 and 2
     WRS 1 - paths go from 1 to 251
           - rows go from 1 to 248
     WRS 2 - paths go from 1 to 233
           - rows go from 1 to 248
-->
<xs:simpleType name="wrsSystemType">
  <xs:restriction base="xs:unsignedByte">
    <xs:minInclusive value="1"/>
    <xs:maxInclusive value="2"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="wrsPathType">
  <xs:restriction base="xs:unsignedByte">
    <xs:minInclusive value="1"/>
    <xs:maxInclusive value="251"/>  <!-- max of paths for WRS 1 and 2 -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="wrsRowType">
  <xs:restriction base="xs:unsignedByte">
    <xs:minInclusive value="1"/>
    <xs:maxInclusive value="248"/>
  </xs:restriction>
</xs:simpleType>

<!-- Support for both CONUS and Alska tiles 
     CONUS h00-32, v00-21
     AK h00-16, v00-13
-->
<xs:simpleType name="ardHTileType">
  <xs:restriction base="xs:unsignedByte">
    <xs:minInclusive value="0"/>
    <xs:maxInclusive value="32"/>  <!-- max of htiles for CONUS and AK -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ardVTileType">
  <xs:restriction base="xs:unsignedByte">
    <xs:minInclusive value="0"/>
    <xs:maxInclusive value="21"/>  <!-- max of vtiles for CONUS and AK -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="zoneCodeType">
  <xs:restriction base="xs:int">
    <xs:minInclusive value="-60"/>
    <xs:maxInclusive value="60"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="regionType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="CU"/>  <!-- conterminous US -->
    <xs:enumeration value="AK"/>
    <xs:enumeration value="HI"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="cornerType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="UL"/>
    <xs:enumeration value="UR"/>
    <xs:enumeration value="LL"/>
    <xs:enumeration value="LR"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="projectionType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="GEO"/>
    <xs:enumeration value="UTM"/>
    <xs:enumeration value="PS"/>
    <xs:enumeration value="AEA"/>
    <xs:enumeration value="SIN"/>
    <!-- Additional projection types can/will be added as needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="datumType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="WGS84"/>
    <xs:enumeration value="NAD83"/>
    <xs:enumeration value="NAD27"/>
    <!-- Additional datums can/will be added as needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="gridOriginType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="CORNER"/>
    <xs:enumeration value="CENTER"/>
    <!-- Additional origin types can be added if needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="dataType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="INT8"/>
    <xs:enumeration value="UINT8"/>
    <xs:enumeration value="INT16"/>
    <xs:enumeration value="UINT16"/>
    <xs:enumeration value="INT32"/>
    <xs:enumeration value="UINT32"/>
    <xs:enumeration value="FLOAT32"/>
    <xs:enumeration value="FLOAT64"/>
    <!-- Additional data types can be added if needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="categoryType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="image"/>
    <xs:enumeration value="qa"/>
    <xs:enumeration value="browse"/>
    <xs:enumeration value="index"/>
    <xs:enumeration value="metadata"/>
    <!-- Additional data types can be added if needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="projectionUnitsType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="meters"/>
    <xs:enumeration value="degrees"/>
    <!-- Additional pixel units can be added if needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="resamplingType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="cubic convolution"/>
    <xs:enumeration value="nearest neighbor"/>
    <xs:enumeration value="bilinear"/>
    <xs:enumeration value="none"/>
    <!-- Additional resampling types can be added if needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="elevationSrcType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="NED"/>
    <xs:enumeration value="SRTM"/>
    <xs:enumeration value="GTOPO30"/>
    <xs:enumeration value="GLS2000"/>
    <xs:enumeration value="RAMP"/>
    <!-- Additional elevation source types can/will be added as needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="sensorModeType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="BUMPER"/>
    <xs:enumeration value="SAM"/>
    <!-- Additional sensor mode types can/will be added as needed -->
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ephemerisType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="DEFINITIVE"/>
    <xs:enumeration value="PREDICTIVE"/>
    <!-- Additional ephemeris types can/will be added as needed -->
  </xs:restriction>
</xs:simpleType>


<!-- definition of simple elements -->
<xs:element name="index" type="xs:int"/>
<xs:element name="data_provider" type="xs:string"/>
<xs:element name="satellite" type="xs:string"/>
<xs:element name="instrument" type="xs:string"/>
<xs:element name="level1_collection" type="xs:string"/>
<xs:element name="ard_version" type="xs:string"/>
<xs:element name="region" type="regionType"/>
<xs:element name="acquisition_date" type="xs:date"/>
<xs:element name="scene_center_time" type="xs:time"/>
<xs:element name="level1_production_date" type="xs:dateTime"/>
<xs:element name="request_id" type="xs:string"/>
<xs:element name="scene_id" type="xs:string"/>
<xs:element name="product_id" type="xs:string"/>
<xs:element name="lpgs_metadata_file" type="xs:string"/>
<xs:element name="cpf_name" type="xs:string"/>
<xs:element name="east" type="longAngleType"/>
<xs:element name="west" type="longAngleType"/>
<xs:element name="north" type="latAngleType"/>
<xs:element name="south" type="latAngleType"/>
<xs:element name="zone_code" type="zoneCodeType"/>
<xs:element name="longitude_pole" type="longAngleType"/>
<xs:element name="latitude_true_scale" type="latAngleType"/>
<xs:element name="false_easting" type="xs:double"/>
<xs:element name="false_northing" type="xs:double"/>
<xs:element name="standard_parallel1" type="latAngleType"/>
<xs:element name="standard_parallel2" type="latAngleType"/>
<xs:element name="central_meridian" type="longAngleType"/>
<xs:element name="origin_latitude" type="latAngleType"/>
<xs:element name="sphere_radius" type="xs:double"/>
<xs:element name="grid_origin" type="gridOriginType"/>
<xs:element name="orientation_angle" type="angleType"/>
<xs:element name="scene_count" type="xs:int"/>
<xs:element name="cloud_cover" type="xs:float"/>
<xs:element name="cloud_shadow" type="xs:float"/>
<xs:element name="snow_ice" type="xs:float"/>
<xs:element name="fill" type="xs:float"/>
<xs:element name="geometric_rmse_model" type="xs:float"/>
<xs:element name="geometric_rmse_model_x" type="xs:float"/>
<xs:element name="geometric_rmse_model_y" type="xs:float"/>
<xs:element name="short_name" type="xs:string"/>
<xs:element name="long_name" type="xs:string"/>
<xs:element name="file_name" type="xs:string"/>
<xs:element name="data_units" type="xs:string"/>
<xs:element name="resample_method" type="resamplingType"/>
<xs:element name="app_version" type="xs:string"/>
<xs:element name="production_date" type="xs:dateTime"/>
<xs:element name="num" type="xs:int"/>
<xs:element name="desc" type="xs:string"/>
<xs:element name="class_num" type="xs:int"/>
<xs:element name="index_desc" type="xs:string"/>
<xs:element name="elevation_source" type="elevationSrcType"/>
<xs:element name="sensor_mode" type="sensorModeType"/>
<xs:element name="ephemeris_type" type="ephemerisType"/>


<!-- definition of complex elements -->
<xs:element name="corner">
  <xs:complexType>
    <xs:attribute name="location" type="cornerType" use="required"/>
    <xs:attribute name="latitude" type="latAngleType" use="required"/>
    <xs:attribute name="longitude" type="longAngleType" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="bounding_coordinates">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="west"/>
      <xs:element ref="east"/>
      <xs:element ref="north"/>
      <xs:element ref="south"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="corner_point">
  <xs:complexType>
    <xs:attribute name="location" type="cornerType" use="required"/>
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
  </xs:complexType>
</xs:element>

<!-- geographic proj parms are not needed -->

<xs:element name="utm_proj_params">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="zone_code"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="ps_proj_params">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="longitude_pole"/>
      <xs:element ref="latitude_true_scale"/>
      <xs:element ref="false_easting"/>
      <xs:element ref="false_northing"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="albers_proj_params">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="standard_parallel1"/>
      <xs:element ref="standard_parallel2"/>
      <xs:element ref="central_meridian"/>
      <xs:element ref="origin_latitude"/>
      <xs:element ref="false_easting"/>
      <xs:element ref="false_northing"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="sin_proj_params">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="sphere_radius"/>
      <xs:element ref="central_meridian"/>
      <xs:element ref="false_easting"/>
      <xs:element ref="false_northing"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="projection_information">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="corner_point" minOccurs="1" maxOccurs="4"/>
      <xs:element ref="grid_origin"/>

      <!-- One of the following need to be identified, depending on the
           projection type. No projection parameters are needed for
           Geographic. -->
      <xs:element ref="utm_proj_params" minOccurs="0"/>
      <xs:element ref="ps_proj_params" minOccurs="0"/>
      <xs:element ref="albers_proj_params" minOccurs="0"/>
      <xs:element ref="sin_proj_params" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="projection" type="projectionType" use="required"/>
    <xs:attribute name="datum" type="datumType" use="optional"/>
    <xs:attribute name="units" type="projectionUnitsType" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="pixel_size">
  <xs:complexType>
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
    <xs:attribute name="units" type="projectionUnitsType" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="wrs">
  <xs:complexType>
    <xs:attribute name="system" type="wrsSystemType" use="required"/>
    <xs:attribute name="path" type="wrsPathType" use="required"/>
    <xs:attribute name="row" type="wrsRowType" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="tile_grid">
  <xs:complexType>
    <xs:attribute name="v" type="ardVTileType" use="required"/>
    <xs:attribute name="h" type="ardHTileType" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="valid_range">
  <xs:complexType>
    <xs:attribute name="min" type="xs:float" use="required"/>
    <xs:attribute name="max" type="xs:float" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="bit">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="num" type="xs:int" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="bitmap_description">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="bit" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="class">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="num" type="xs:int" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="class_values">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="class" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Used for both tile-level and scene-level bands.  Scene-level bands
     won't include the nlines and nsamps. -->
<xs:element name="band">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="short_name"/>
      <xs:element ref="long_name"/>
      <xs:element ref="file_name"/>
      <xs:element ref="pixel_size"/>
      <xs:element ref="resample_method"/>
      <xs:element ref="data_units"/>
      <xs:element ref="valid_range" minOccurs="0"/>
      <xs:element ref="bitmap_description" minOccurs="0"/>
      <xs:element ref="class_values" minOccurs="0"/>
      <xs:element ref="app_version" minOccurs="0"/>
      <xs:element ref="production_date"/>
    </xs:sequence>
    <xs:attribute name="product" type="xs:string" use="required"/>
    <xs:attribute name="source" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="category" type="categoryType" use="required"/>
    <xs:attribute name="data_type" type="dataType" use="required"/>
    <xs:attribute name="nlines" type="xs:int" use="optional"/>
    <xs:attribute name="nsamps" type="xs:int" use="optional"/>
    <xs:attribute name="fill_value" type="xs:long" use="optional"/>
    <xs:attribute name="saturate_value" type="xs:int" use="optional"/>
    <xs:attribute name="scale_factor" type="xs:float" use="optional"/>
    <xs:attribute name="add_offset" type="xs:float" use="optional"/>
  </xs:complexType>
</xs:element>


<!-- Start of main XML file -->
<xs:element name="ard_metadata">
  <xs:complexType>
    <xs:sequence>

      <!-- Tile metadata container -->
      <xs:element name="tile_metadata">
        <xs:complexType>
          <xs:sequence>

            <!-- Tile global metadata container -->
            <xs:element name="global_metadata">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="data_provider"/>
                  <xs:element ref="satellite"/>
                  <xs:element ref="instrument"/>
                  <xs:element ref="level1_collection"/>
                  <xs:element ref="ard_version"/>
                  <xs:element ref="region"/>
                  <xs:element ref="acquisition_date"/>
                  <xs:element ref="product_id"/>
                  <xs:element ref="production_date"/>
                  <xs:element ref="bounding_coordinates"/>
                  <xs:element ref="projection_information"/>
                  <xs:element ref="orientation_angle"/>
                  <xs:element ref="tile_grid"/>
                  <xs:element ref="scene_count"/>
                  <xs:element ref="cloud_cover"/>
                  <xs:element ref="cloud_shadow"/>
                  <xs:element ref="snow_ice"/>
                  <xs:element ref="fill"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <!-- Tile bands container -->
            <xs:element name="bands">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="band" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Sequence of scene metadata containers -->
      <xs:element name="scene_metadata" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="index"/>

            <!-- Scene global metadata container -->
            <xs:element name="global_metadata">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="data_provider"/>
                  <xs:element ref="satellite"/>
                  <xs:element ref="instrument"/>
                  <xs:element ref="acquisition_date"/>
                  <xs:element ref="scene_center_time"/>
                  <xs:element ref="level1_production_date"/>
                  <xs:element ref="wrs"/>
                  <xs:element ref="request_id"/>
                  <xs:element ref="scene_id"/>
                  <xs:element ref="product_id"/>
                  <xs:element ref="elevation_source"/>
                  <xs:element ref="sensor_mode" minOccurs="0"/>
                  <xs:element ref="ephemeris_type" minOccurs="0"/>
                  <xs:element ref="cpf_name"/>
                  <xs:element ref="lpgs_metadata_file"/>
                  <xs:element ref="geometric_rmse_model"/>
                  <xs:element ref="geometric_rmse_model_x"/>
                  <xs:element ref="geometric_rmse_model_y"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <!-- Scene bands container -->
            <xs:element name="bands">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="band" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

</xs:schema>
